body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
  }
  .product {
    background-color: #000000;
    border: 1px solid #7f7b7b;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 300px;
  }
  
  .product img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    margin-left: 7px;
  }
  .image-container {
    width: 270px; 
    height: 270px; 
    overflow: hidden;
    margin-bottom: 5px;
  }
  .price {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 10px;
    text-align: center;
  
  }
  section.featured-products {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 5px;
  }
  
  button:hover {
    background-color: #555;
  }
  h3{
    font-weight: bold;
  }