/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.main-content {
  height: relative;
  margin-bottom: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color:rgb(0, 0, 0)

}
body {
  margin: 0;
  padding: 0;
  height: auto;
  }

form {
  color: #000000;
}

input[type="text"],
input[type="password"] {
  width: 250px;
  padding: 10px 10px;
  margin: 10px;
  display: block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  color: #000;
}



button {
  color: rgb(255, 255, 255);
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin:7px 0;
  margin-left: 20%;
  margin-right: 20%;
  border: none;
  cursor: pointer;
}
.login-button {
  background-color: rgb(25, 23, 81);
}
button:hover {
  opacity: 0.8;
}

.remember-me {
  display: flex;
  align-items: column;
  margin-top: 5px;
  justify-content: center;
  margin-bottom: 10px;
  color: black;
}

.flex-column {
  display: flex;
  flex-direction: column;
  
}
.space{
    margin-right: 2px;
}
span.psw {
  display: block;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  align-items: center;
  text-align: center;
  margin-top: 5px;
  color: #000000;

}
.logo {
  display: block;
  margin: 0 auto;
  width: 250px;
  margin-bottom: 20px;
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 500px) {
  span.psw {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #000000;
    color: #000000;
    }
}
.container-white {
  margin: 40px auto;
  margin-top: 130px;
  width: fit-content;
  border: 1px solid rgba(0, 0, 0, 0.591);
  padding: 80px;
  padding-top: 40px;
  padding-bottom: 50px;
  color: #ccc;
}